html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'sans-serif', arial, verdana;
  background: #FFF;
  color: #555;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;}

h1, h2, h3
{ font: normal 170% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;}

h2
{ font-size: 160%;
  padding: 9px 0 5px 0;
  color: #009FBC;}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;}

h4, h6
{ color: #009FBC;
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;}

h5, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #AEB002;}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}
/**
ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;}
  **/

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}
 

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;
  }

#header
{ background: #323534 url(back.png) repeat-x;
  height: 177px;}
  
#banner
{ 
  background: transparent url(banner.jpg) no-repeat;
  width: 860px;
  height: 180px;
  margin-bottom: 20px;
  border: 10px solid #DDD;
  }
  	
#logo
{ width: 880px;
  position: relative;
  height: 140px;
  background: transparent;}

#logo #logo_text 
{ position: absolute; 
  top: 10px;
  left: 0;}

.userloggedin{
  float:right;
  margin-right: 20px;
}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #E4EC04;}

/* below two added for Planet Header color class logo_colour_planet */
#logo_text h1 a .logo_colour_planet 
{color: #72C3EC;} 

#logo_text a:hover .logo_colour_planet
{ color: #FFF;}

#logo_text a:hover .logo_colour
{ color: #FFF;}

/*below class org_logo is for org logo image in header */ 
.org_logo
{float: left;
margin-left: -100px;
}

#up_events li:hover
{color:#1C6F07;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #999;}

#menubar
{ width: 880px;
  height: 46px;} 

ul#menu
{ float: right;
  margin: 0;}

ul#menu li
{ float: left;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 1px 2px 0 0;
  background: #5A5A5A url(tab.png) no-repeat 0 0;}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 6px 35px 5px 28px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: #5A5A5A url(tab.png) no-repeat 100% 0;} 

ul#menu li.selected a
{ height: 20px;
  padding: 6px 35px 5px 28px;}

ul#menu li.selected
{ margin: 1px 2px 0 0;
  background: #00C6F0 url(tab_selected.png) no-repeat 0 0;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #00C6F0 url(tab_selected.png) no-repeat 100% 0;
  color: #FFF;}

ul#menu li a:hover
{ color: #E4EC04;}

#site_content
{ width: 880px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0 0 10px 0;} 

#sidebar_container
{ float: right;
  width: 224px;}

.sidebar_top
{ width: 222px;
  height: 14px;
  background: transparent url(side_top.png) no-repeat;}

.sidebar_base
{ width: 222px;
  height: 14px;
  background: url(side_base.png) no-repeat;}

.sidebar
{ float: right;
  width: 222px;
  padding: 0;
  margin: 0 0 16px 0;}

.sidebar_item
{ background: url(side_back.png) repeat-y;
  padding: 0 15px;
  width: 192px;}

.sidebar li a.selected
{ color: #444;} 

.sidebar ul
{ margin: 0;} 

#content
{ text-align: left;
  width: 620px;
  padding: 0 0 0 5px;
  float: left;}
  
#content ul
{ margin: 2px 0 22px 0px;}

#content ul li, .sidebar ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 80px;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: #3B3939 url(footer.png) repeat-x;
  color: #A8AA94;
  bottom: 0;
  }

#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer a
{ color: #A8AA94;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}

table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 1px;
  text-align: left;}
  
table tr td
{ background: #E5E5DB;
  color: #47433F;
  font-size: 15px;
  border-top: 2px solid #FFF;}
tr:hover {background-color: #ffffff}

 .anil-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; 
    color: rgba(0, 0, 0, 0.80); 
    border: 1px solid #999;  
    border: none rgba(0, 0, 0, 0); 
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.anil-button-hover,
.anil-button:hover,
.anil-button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.anil-button:focus {
    outline: 0;
}
.anil-button-active,
.anil-button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000\9;
}

.anil-button[disabled],
.anil-button-disabled,
.anil-button-disabled:hover,
.anil-button-disabled:focus,
.anil-button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.anil-button-hidden {
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.anil-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.anil-button-primary,
.anil-button-selected,
a.anil-button-primary,
a.anil-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}
  
.anil-form input[type="text"],
.anil-form input[type="password"],
.anil-form input[type="email"],
.anil-form input[type="url"],
.anil-form input[type="date"],
.anil-form input[type="month"],
.anil-form input[type="time"],
.anil-form input[type="datetime"],
.anil-form input[type="datetime-local"],
.anil-form input[type="week"],
.anil-form input[type="number"],
.anil-form input[type="search"],
.anil-form input[type="tel"],
.anil-form input[type="color"],
.anil-form select,
.anil-form textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.anil-form input[type="color"] {
    padding: 0.2em 0.5em;
}
.anil-form input[type="text"]:focus,
.anil-form input[type="password"]:focus,
.anil-form input[type="email"]:focus,
.anil-form input[type="url"]:focus,
.anil-form input[type="date"]:focus,
.anil-form input[type="month"]:focus,
.anil-form input[type="time"]:focus,
.anil-form input[type="datetime"]:focus,
.anil-form input[type="datetime-local"]:focus,
.anil-form input[type="week"]:focus,
.anil-form input[type="number"]:focus,
.anil-form input[type="search"]:focus,
.anil-form input[type="tel"]:focus,
.anil-form input[type="color"]:focus,
.anil-form select:focus,
.anil-form textarea:focus {
    outline: 0;
    border-color: #129FEA;
}

.anil-form input[type="radio"]:focus,
.anil-form input[type="checkbox"]:focus {
    outline: thin solid #129FEA;
    outline: 1px auto #129FEA;
}
.anil-form .anil-checkbox,
.anil-form .anil-radio {
    margin: 0.5em 0;
    display: block;
}

.anil-form input:focus:invalid,
.anil-form textarea:focus:invalid,
.anil-form select:focus:invalid {
    color: #b94a48;
    border-color: #e9322d;
}

.anil-form select {
    /* Normalizes the height; padding is not sufficient. */
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: white;
}

.anil-form-stacked input[type="text"],
.anil-form-stacked input[type="password"],
.anil-form-stacked input[type="email"],
.anil-form-stacked input[type="url"],
.anil-form-stacked input[type="date"],
.anil-form-stacked input[type="month"],
.anil-form-stacked input[type="time"],
.anil-form-stacked input[type="datetime"],
.anil-form-stacked input[type="datetime-local"],
.anil-form-stacked input[type="week"],
.anil-form-stacked input[type="number"],
.anil-form-stacked input[type="search"],
.anil-form-stacked input[type="tel"],
.anil-form-stacked input[type="color"],
.anil-form-stacked input[type="file"],
.anil-form-stacked select,
.anil-form-stacked label,
.anil-form-stacked textarea {
    display: block;
    margin: 0.25em 0;
}
.anil-form-aligned input,
.anil-form-aligned textarea,
.anil-form-aligned select,

.anil-form-message-inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
.anil-form-aligned textarea {
    vertical-align: top;
}

/* Aligned Forms */
.anil-form-aligned .pure-control-group {
    margin-bottom: 0.5em;
}
.anil-form-aligned .pure-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}
.anil-form-aligned .pure-controls {
    margin: 1.5em 0 0 11em;
}
.anil-form .pure-group button {
    margin: 0.35em 0;
}
.anil-form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
.anil-form .pure-group fieldset {
    margin-bottom: 10px;
}

/*payment page - credit card */
.checkout-input {
  float: left;
  padding: 0 7px;
  height: 32px;
  color: #525864;
  background: white;
  border: 1px solid;
  border-color: #b3c0e2 #bcc5e2 #c0ccea;
  border-radius: 4px;
  @include linear-gradient(top, #f6f8fa, white);
  @include box-shadow(inset 0 1px 2px rgba(black, .1),
                      0 1px rgba(white, .5));

  &:focus {
    border-color: #56aefe;
    outline: none;
    @include box-shadow(inset 0 1px 2px rgba(black, .1),
                        0 0 5px #46aefe);
  }

 .lt-ie9 & { line-height: 30px; }
}

.checkout-name { width: 150px; }
.checkout-card { width: 230px; }

.checkout-exp {
  margin-left: 15px;
  width: 65px;
}
.checkout-cvc {
  margin-left: 15px;
  width: 65px;
}
.showprogress {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
}
.loginerror {
	color: red;
	font-style: bold;
	font-size: 10px;
	visibility: hidden; 
	}

.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.loggedinbutton {
	background-color:transparent;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:13px;
	padding:4px 23px;
	text-decoration:none;
}
.loggedinbutton:hover {
	background-color:transparent;
}
.loggedinbutton:active {
	position:relative;
	top:1px;
}

/* user Dashboard nav */
/** profile nav links **/
#profiletabs {
  display: block;
  margin-bottom: 4px;
  height: 50px;
 outline: none;
}


#main #profiletabsul{ list-style: none; display: block; width: 70%; height: 50px;
 list-style-type: none !important;
 }
#profiletabs li{ float: left;}

#profiletabs ul li a {
  display: block;
  float: left;
  padding: 8px 11px;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  background: #eae8db;
  color: #666;
  margin-right: 7px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomleft: 0;
  border-radius: 5px;
  border-bottom-left-radius: 0;
}
#profiletabs ul li a:hover {
  text-decoration: none;
  background: #dad7c2;
  color: #565656;
}

#profiletabs ul li a.sel {
  background: #fff;
  border-color: #d1cdb5;
}
#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 45px;
  min-height: 100%;
}
#userphoto {
  display: block;
  float: right;
  margin-left: 10px;
  margin-bottom: 8px;
}
#userphoto img {
  display: block;
  padding: 2px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
.activity {
  border-bottom: 1px solid #d6d1af;
  padding-bottom: 4px;
}

.editprofile {
  display: block;
  font-weight: normal;
  padding: 7px 3px;
  border-top: 1px solid #d6d1af;
  margin-bottom: 5px;
}
.editprofile span {
  float: left; 
  width: 250px;
  font-weight: bold;
}
.editprofile span img { 
  cursor: pointer;
}
.hidden {
  display: none;
}
.para1{
   text-indent: 20px;
    text-align: justify;
    letter-spacing: 1px;

}
.profileinfo { background: #f2f2f2; 
	width: 100%; 
	padding: 4px 10px; 
	border-left: 1px solid #b3b3b3; 
	border-right: 1px solid #b3b3b3; 
	border-bottom: 1px solid #b3b3b3; 
}
.profileinfo h2 { position: relative; left: -250px; }

/* Edit profile page */
.gear { position: relative; 
	display: block; 
	margin-bottom: 25px; 
	padding-bottom: 15px; 
	border-bottom: 1px solid #d9d9d9; }

.gear a.editlink { position: absolute; right: 0; top: 13px; }

.datainfo { margin-left: 10px; font-size: 11px; color: #333; }

label { display: inline-block; font-weight: bold; color: #696969; font-size: 12px; width: 100px; }

/** @group form inputs **/
.hlite { background: #e2e8f6; 
	border: 1px solid #bdc7d8; width: 250px; 
	margin-left: -7px; padding: 4px 7px; 
	color: #565656; font-size: 12px; }


.savebtn { position: absolute; 
	right: 0; 
	top: 13px; 
	padding: 4px 9px; 
	background: #eae8db; 
	font-size: 1.2em; 
	cursor: pointer; 
	border: 1px solid #1a356e; color: #666; 
	-webkit-box-shadow: inset 0 1px 0 #8a9cc2; 
	-moz-box-shadow: inset 0 1px 0 #8a9cc2; 
	box-shadow: inset 0 1px 0 #8a9cc2; 
	margin-bottom: 5px; 
	margin-top: -5px; 
	display: none;
}
.savebtn:hover { color: #4d4d4d; background: #d9d6bf; text-decoration: none; }
.savebtn:active { background: #eae8db; }

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:294px;
  z-index:50;
  padding: 25px 25px 20px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}
